.speech-bubble {
	position: relative;
	background: #45D994;
	border-radius: .4em;

}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #fff;
	border-bottom: 0;
	border-left: 0;
	margin-left: 0;
	margin-bottom: -17px;
}

.thethink {
	border: 3px solid #fff;
	border-radius: 10px;
	position: relative;
	min-height: 100px;
	overflow: hidden;
}

.chosePlayer button {
	padding: 1px;
	width: 40px;
}