.App {
  background-image: url("../imgs/bgGame.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: #fff;
}

img {
  width: 100%;
}